.infoShape {
	position: relative;
	overflow: hidden;
	height: 60px;
	/* top: -3rem; */
	width: 100%;
	z-index: 0;
}

.infoShape::after {
	border-radius: 100%;
	position: absolute;
	right: -200px;
	left: -200px;
	top: -200px;
	content: "";
	bottom: 0;
}
